<!doctype html>
<html lang="en">

	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/tabs.css">
	</head>

	<body>

		<div class="main_container">

			<!-- ➕➕➕➕➕➕➕➕➕➕➕➕➕➕ HEADER ➕➕➕➕➕➕➕➕➕➕➕➕➕➕ -->

			<nav class="navbar sticky-top " style="background-color: #FAD4A1;">
				<a style="color: #09A9A9; " class="navbar-brand" href="#">{{data.restaurant.name}}</a>
			</nav>

			<!-- ➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕➕ -->

			{# TABS #}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="tab_1" data-toggle="tab" href="#cat_1" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab_2" data-toggle="tab" href="#cat_2" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">this is our home</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
			{#  #}
			<div class="container">

				<div class="scroller scroller-left">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</div>

				<div class="scroller scroller-right">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</div>

				<div>
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						{# LOOPS FOR TABS #}
						{% for i in 0..data.category.length-1 %}
							
							 <li class="nav-item">
								<a class="nav-link active" id="tab_{{i+1}}" data-toggle="tab" href="#cat_{{i+1}}" role="tab" aria-controls="{{data.category[i].name}}" aria-selected="true">{{data.category[i].name}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			{# CARD CONTAINERS #}
			<div class="tab-content" id="myTabContent">
				<!-- CARDS CONTAINER 1 -->
				<div class="cards_container tab-pane fade" id="cat_1" role="tabpanel" aria-labelledby="tab_1">
					{# FOR NO OF CATAGORIES #}
					{% for j in 0..data.category.length-1 %}
						{# FOR NO OF ITEMS #}
						{% for i in 0..data.category[j].items.length-1 %}

							<!-- Card 1 🃏-->
							<div class="card_body">
								<div style="border-radius:4px;" class="view overlay">
									<img style="border-radius:4px; " class="card-img-top rounded-4" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
									<a href="#!">
										<div class="mask rgba-white-slight"></div>
									</a>
								</div>

								<!-- Card content -->
								<div
									class="card_content">
									<!-- xxxxxx CONTENT  AND SYMBOL 🍗🥒 -->
									<div
										class="collapse-content" id="data_and_symbol">
										<!-- Text -->
										<div>
											<h3 class="food_name">{{data.category[j].items[i].name}}</h3>
											<p class="card-text " id="content">
											this is the description about the food
											</p>
										</div>
										<!-- Catagory Symbol -->
										<div>

										{# if veg 🍏 #}
										{% if data.category[j].items[i].type == 'veg' %}
											<img style="top:0; color:red;" src="/icons/veg_symbol.svg" alt="veg">									
										{% endif %}

										{# if NON VEG 🍗 #}
										{% if data.category[j].items[i].type == 'non-veg' %}
											<img style="top:0; color:red;" src="/icons/non_veg_symbol.svg" alt="veg">									
										{% endif %}

										</div>
									</div>

									<!-- xxxxxxxxxxxxxxxx CHILI 🌶 LEVEL AND RATE 💰 xxxxxxxxxxxxxxxx-->
									<div id="chili_and_rate">
											<!-- CHILI LEVEL -->
											<div>
												{% if data.category[j].items[i].status!="" %}
												{% for c in 0..data.category[j].items[i].status  - 1%}
														<img style="width: 1rem;" src="/icons/pepper.svg" alt="">
												{% endfor %}
												{% endif %}			
											</div>
											<!-- RATE -->
											<div>
												<h3 class="food_price">${{data.category[j].items[i].price}}</h3>
											</div>

									</div>

								</div>
							</div>
							{% endfor %}
						{% endfor %}
					
				</div>

					<!-- CARDS CONTAINER 2-->
				<div class="cards_container tab-pane fade" id="cat_2" role="tabpanel"  aria-labelledby="tab_2">
					{# FOR NO OF CATAGORIES #}
					{% for j in 0..data.category.length-1 %}
						{# FOR NO OF ITEMS #}
						{% for i in 0..data.category[j].items.length-1 %}

							<!-- Card 1 🃏-->
							<div class="card_body">
								<div style="border-radius:4px;" class="view overlay">
									<img style="border-radius:4px; " class="card-img-top rounded-4" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
									<a href="#!">
										<div class="mask rgba-white-slight"></div>
									</a>
								</div>

								<!-- Card content -->
								<div
									class="card_content">
									<!-- xxxxxx CONTENT  AND SYMBOL 🍗🥒 -->
									<div
										class="collapse-content" id="data_and_symbol">
										<!-- Text -->
										<div>
											<h3 class="food_name">{{data.category[j].items[i].name}}</h3>
											<p class="card-text " id="content">
											this is the description about the food
											</p>
										</div>
										<!-- Catagory Symbol -->
										<div>

										{# if veg 🍏 #}
										{% if data.category[j].items[i].type == 'veg' %}
											<img style="top:0; color:red;" src="/icons/veg_symbol.svg" alt="veg">									
										{% endif %}

										{# if NON VEG 🍗 #}
										{% if data.category[j].items[i].type == 'non-veg' %}
											<img style="top:0; color:red;" src="/icons/non_veg_symbol.svg" alt="veg">									
										{% endif %}

										</div>
									</div>

									<!-- xxxxxxxxxxxxxxxx CHILI 🌶 LEVEL AND RATE 💰 xxxxxxxxxxxxxxxx-->
									<div id="chili_and_rate">
											<!-- CHILI LEVEL -->
											<div>
												{% if data.category[j].items[i].status!="" %}
												{% for c in 0..data.category[j].items[i].status  - 1%}
														<img style="width: 1rem;" src="/icons/pepper.svg" alt="">
												{% endfor %}
												{% endif %}			
											</div>
											<!-- RATE -->
											<div>
												<h3 class="food_price">${{data.category[j].items[i].price}}</h3>
											</div>

									</div>

								</div>
							</div>
							{% endfor %}
						{% endfor %}
					
				</div>
			</div>
		</div>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="/javascripts/custom_tabs.js"></script>

	
	</body>
</html>
