/* xxxxxxxxxxxxxxxxxxxxxxxx FONT FACES xxxxxxxxxxxxxxxxxxxxxxxx */
/* REGULAR */
@font-face{
  font-family: roboto_regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
/* BOLD */
@font-face{
  font-family: roboto_bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
/* BLACK */
@font-face{
  font-family: roboto_black;
  src: url("../fonts/Roboto-Black.ttf");
}
/* MEDIUM */
@font-face{
  font-family: roboto_regular;
  src: url("../fonts/Roboto-Medium.ttf");
}

/* xxxxxxxxxxxxxxxxxxxxxxxx FONTS xxxxxxxxxxxxxxxxxxxxxxxx */
html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family:roboto_regular;
}

.card-text
{
  font-size: 0.7rem;
}
.food_name
{
  font-size: 1rem;
}
.food_price
{
  font-size: 1rem;
}


/* xxxxxxxxxxxxxxxxxxxxxxxx STYLE RESET xxxxxxxxxxxxxxxxxxxxxxxx */




/* xxxxxxxxxxxxxxxxxxxxxxxx STYLE xxxxxxxxxxxxxxxxxxxxxxxx */
/* NAVBAR */
.navbar
{
  display: flex;
  justify-content: center;
}

/* MAIN CONTAINER */
.main_container
{
  
}

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

/* TABS */
.container li
{
  color: #09A9A9;  
  padding: 10px;
}

/* CARDS CONTAINER */
.cards_container
{
  width: fit-content;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

/* CARD BODY */
.card_body
{
  border-radius: 4px;
  margin: 10px;
  min-height: 220px;
  width: 80%;
  min-width: 150px;
  max-width: 250px;
  height: fit-content;
  box-shadow: 2px 2px 5px rgb(212, 212, 212);
}

/* CARD CONTENT */
.card_content
{
  padding: 10px;
}

.food_name
{
  color:#292929;
}

.card-text
{
  color:#707070;
}

/* DATA AND SYMBOL */
#data_and_symbol
{
    display: flex;
    justify-content: space-between;

}

/* CHILI AND RATE */
#chili_and_rate
{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    color:#09A9A9;
}

